{% load staticfiles %}

<head>
<link rel="stylesheet" type="text/css" href="{% static 'articles/style.css' %}" />
<script src="//use.typekit.net/oei2nrj.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<header class="centered-navigation">
  <div class="centered-navigation-wrapper">
    <a href="/articles" class="mobile-logo">
      <img src="{% static 'articles/wikisein.png' %}" alt="Logo image">
    </a>
    <a href="" class="centered-navigation-menu-button">MENU</a>
    <ul class="centered-navigation-menu">
      <li class="nav-link logo">
        <a href="/articles" class="logo">
          <img src="{% static 'articles/wikisein.png' %}" alt="Logo image">
        </a>
      </li>
    </ul>
  </div>
</header>