{% include 'articles/_header.html' %}

<div class="section">
  <div class="side-nav">
    <ul>
      <li>hello</li>
      <li>there</li>
      <li>sup</li>
    </ul>
  </div>

  <div class="article-main">
  {% if latest_article_list %}

      {% for article in latest_article_list %}
          <h1><a href="/articles/{{ article.id }}/">{{ article.title }}</a></h1>
          <p>{{ article.body }}</p>
      {% endfor %}
  {% else %}
      <p>No articles are available.</p>
  {% endif %}
  </div>
</div>

{% include 'articles/_footer.html' %}